body::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  /* 스크롤바의 길이 */
  height: 40%;

  /* 스크롤바의 색상 */
  background: rgb(255, 92, 0);
  border-radius: 10px;
  width: 20px;
}

body::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, 0.1); /*스크롤바 뒷 배경 색상*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
